#map {
  height: 100vh;
  position: relative
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
html {background-color: #1d404a;}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  transform: translateX(100%);
  overflow: hidden;
}

.sidenav.open {
  transform: translateX(0)
}

.sidenav-element {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a {
  color: #818181;
}

.sidenav h4,h6 {
  color: #611f1f;
}

.sidenav button {
  margin: 32px 0;
  margin-left: 35;
  padding: 6px;
  font-size: 16px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #f1f1f1;
  background-color: black;
  border-radius: 10px;
  border-color: #f1f1f1;
  border-width: medium;
}

.sidenav button:hover {
  cursor: pointer;
  background-color: rgb(59, 58, 58);
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  font-family: "Lato", sans-serif;
}

.navbar {
  cursor: pointer;
  text-align: right;
  font-size: 50px;
  text-align: right;
  display: block;
}

.map-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 998;
  padding: 10px 14px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 26px;
  font-size: 20px;
}

.form-label {
  margin: 32px 0;
  margin-left: 35px;
  color: white;
  font-size: 20px;
}


.form-input {
  color: black;
  margin-left: 35px;
}
input, label {
  display: block;
}